

  <li>
    <a href="https://scholar.google.com/citations?user=NR8stlAAAAAJ&hl=en&oi=sra">
      <i class="fa fa-google" aria-hidden="true"></i> Google Scholar
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/anna-cichocki-184903b3">
      <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
    </a>
  </li>

<li><a href="https://github.com/annacichocki" target = _blank><i class="fa  fa-github"></i> GitHub</a></li>

<li><a href="https://twitter.com/AnnaCCichocki" target = _blank><i class="fa fa-twitter-square"></i> Twitter</a></li>
